{% extends "src/njc/layout.njc" %}

{% block content %}

<div class="content">
    <div class="sidebar-menu">
        <div class="sidebar-menu-logo">
            <a href="./index.html" >
                <img src="img/base/sidebar-logo.png" alt="ADMedium" width="166" height="47">
            </a>
        </div>


        <ul class="sidebar-menu-list">
            <li class="sidebar-menu-list-item">
                <a href="#">
                    <img class="sidebar-menu-list-item-image" src="img/sidebar/icon_home.png" alt="Рабочий стол">
                    <span class="sidebar-menu-list-item-title">Рабочий стол</span>
                </a>
            </li>
            <li class="sidebar-menu-list-item sidebar-menu-list-item__active">
                <a href="./company-list.html">
                    <img class="sidebar-menu-list-item-image" src="img/sidebar/icon_companies.png" alt="Кампании">
                    <span class="sidebar-menu-list-item-title">Кампании</span>
                </a>
            </li>
            <li class="sidebar-menu-list-item">
                <a href="./clients-list.html">
                    <img class="sidebar-menu-list-item-image" src="img/sidebar/icon_clients.png" alt="Клиенты">
                    <span class="sidebar-menu-list-item-title">Клиенты</span>
                </a>
            </li>
            <li class="sidebar-menu-list-item">
                <a href="./statistics.html">
                    <img class="sidebar-menu-list-item-image" src="img/sidebar/icon_statistic.png" alt="Статистика">
                    <span class="sidebar-menu-list-item-title">Статистика</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="content-main">
        <main>
	        <div class="content-main__header">
				<div class="user-auth-block__wrapper">
					<div class="alert-notification">
						<a href="#" class="alert-notification__report">Добавьте материалы в кампанию «Продвижение на премиальных площадках»</a>
						<a href="javascript: void(0)" class="alert-notification__hide">Скрыть</a>
					</div>

					<div class="alert-notification alert-notification__alarm">
						<a href="#" class="alert-notification__report alert-notification__report__alarm">Добавьте материалы в кампанию «Продвижение на премиальных площадках»</a>
						<a href="javascript: void(0)" class="alert-notification__hide">Скрыть</a>
					</div>

					<div class="user-auth-block">
						<div class="user-auth-block-notification">
							<a href="./notifications-list.html"><img src="img/companies-list/icon_notification.png" alt=""></a>
							<span  class="user-auth-block-notification-count">1</span>
						</div>

						<div class="user-auth-block-username">
							<div class="user-auth-block-login">Иванов А.</div>
							<a href="#" class="user-auth-block-btn"> </a>

							<ul class="user-auth-block-username__hvr">
								<li class="user-auth-block-username__hvr__item">
									<a href="#">
										Входящие
									</a>
								</li>

								<li class="user-auth-block-username__hvr__item">
									<a href="#">
										Настройки
									</a>
								</li>

								<li class="user-auth-block-username__hvr__item">
									<a href="#">
										Выход
									</a>
								</li>
							</ul>
						</div>

						<div class="user-auth-block-avatar">
							<a href="#"><img src="img/base/avatar_default.png" alt="Аватар"></a>
						</div>
					</div>
				</div>

		        <div class="companies-header">
			        <div class="companies-header-names">
				        <h2 class="companies-header-names-title">Кампании</h2>
						<div class="companies-header-names-select select-btn js-show-companies-list">
							<span class="companies-header-names-name select-btn__name js-select-field-result" data-name="tesla">ООО &laquo;Тесла Моторс&raquo;</span>
							<a class="companies-header-names-button select-btn__button" href="#"></a>
					        <div class="search-client__wrapper">
						        <form action="#" method="">
							        <div class="search-client">
								        <input type="text" placeholder="поиск клиента" class="search-client__input">
								        <ul class="search-client__list hvr__list">
									        <li class="search-client__item hvr__item">
										        <a href="#">ОАО «Рога и копыта интернешнл»</a>
									        </li>
									        <li class="search-client__item hvr__item" data-value="tesla">
										        <a href="#">ООО «Тесла Моторс»</a>
									        </li>
									        <li class="search-client__item hvr__item">
										        <a href="#">Vershi</a>
									        </li>
									        <li class="search-client__item hvr__item">
										        <a href="#">ГУП «Алтайтомат»</a>
									        </li>
								        </ul>
							        </div>
						        </form>
					        </div>
				        </div>
			        </div>
			        <div class="companies-header-button">
				        <a class="main-btn" href="./campaign-new.html">Создать компанию</a>
			        </div>
		        </div>

		        <div class="companies-toggle">
			        <ul class="companies-toggle__list">
				        <li class="companies-toggle__item">
					        <a href="#" class="companies-toggle__item__link">Все</a>
					        <span>26</span>
				        </li>
				        <li class="companies-toggle__item companies-toggle__item__active" data-name="active">
					        <a href="#" class="companies-toggle__item__link active">Активные</a>
					        <span>12</span>
				        </li>
				        <li class="companies-toggle__item" data-name="completed">
					        <a href="#" class="companies-toggle__item__link completed">Завершенные</a>
					        <span>12</span>
				        </li>
				        <li class="companies-toggle__item">
					        <a href="#" class="companies-toggle__item__link">Черновики</a>
					        <span>2</span>
				        </li>
				        <li class="companies-toggle__item">
					        <a href="#" class="companies-toggle__item__link completed">Отложенные</a>
					        <span>3</span>
				        </li>
				        <li class="companies-toggle__item">
					        <a href="#" class="companies-toggle__item__link completed">Удаленные</a>
					        <span>2</span>
				        </li>
				        <li class="companies-toggle__item">
					        <a href="#" class="companies-toggle__item__link completed">На модерации</a>
					        <span>5</span>
				        </li>

				        <li class="companies-toggle__item__btn">
					        <a href="javascript: void(0);" class="companies-toggle__item__btn__link js-show-companies-menu">
						        <span></span>
						        <span></span>
						        <span></span>
					        </a>
					        <div class="companies-toggle__item_hvr">
						        <a href="javascript: void(0);" class="companies-toggle__item__btn__link js-show-companies-menu">
							        <span></span>
							        <span></span>
							        <span></span>
						        </a>
						        <ul class="companies-toggle-hvr-list hvr__list">
							        <li class="hvr__item"><a href="#">Все</a></li>
							        <li class="hvr__item"><a href="#">Активные</a></li>
							        <li class="hvr__item"><a href="#">Завершенные</a></li>
							        <li class="hvr__item"><a href="#">Черновики</a></li>
							        <li class="hvr__item"><a href="#">Отложенные</a></li>
							        <li class="hvr__item"><a href="#">Удаленные</a></li>
							        <li class="hvr__item"><a href="#">На модерации</a></li>
						        </ul>
					        </div>
				        </li>
			        </ul>

			        <div class="companies-filters-search-button__wrapper js-show-companies-filter">
				        <a href="javascript: void(0);" class="companies-filters-search-button"></a>
			        </div>
		        </div>
	        </div>

	        <div class="companies-filters">
		        <form action="">
			        <div class="companies-filters-search-block">
				        <label class="companies-filters__search-block"><span class="companies-filters__input-title">Поиск по компаниям</span><input type="text" class="companies-filters-search"></label>
				        <label>
					        <span class="companies-filters__input-title">Группа</span>
					        <select name="group" id="group" class="companies-filters__select default-select">
						        <option selected="selected">выберите группу</option>
						        <option value="Весна">Весна</option>
						        <option value="Лето">Лето</option>
						        <option value="Осень">Осень</option>
						        <option value="Период слякоти">Период слякоти с октября по декабрь</option>
						        <option value="Зима">Зима</option>
					        </select>
				        </label>
				        <label>
					        <span class="companies-filters__input-title">Расход бюджета,%</span>
					        <div class="companies-filters__budget__wrapper">
						        <input type="text" placeholder="от 0" class="companies-filters__budget companies-filters__budget_min">
						        <input type="text" placeholder="до 100" class="companies-filters__budget companies-filters__budget_max">
					        </div>
				        </label>
				        <div class="btn-close__wrapper js-close-companies-filter">
					        <a href="javascript: void(0);" class="btn-close"></a>
				        </div>
			        </div>
		        </form>
	        </div>

	        <div class="companies-list default-list companies-list_active" id="tab-active">
		        <div class="companies-item companies-item__title heading__row">
			        <div class="companies-item__name heading__row__item">
				        <p class="companies-item__text">
					        Название
				        </p>
			        </div>
			        <div class="companies-item__info heading__row__item">
				        <div class="info__item info__item__budget">
					        <p class="companies-item__text">
						        Расход бюджета
					        </p>
					        <span class="info__item__budget__arrow info__item__budget__arrow_up info__item__budget__arrow_down"></span>
				        </div>
				        <div class="info__item info__item__show">
					        <p class="companies-item__text">
						        Показы
					        </p>
				        </div>
				        <div class="info__item info__item__click">
					        <p class="companies-item__text">
						        Клики
					        </p>
				        </div>
				        <div class="info__item info__item__ctr">
					        <p class="companies-item__text">
						        CTR
					        </p>
				        </div>
			        </div>
		        </div>

		        <div class="companies-item default-list__item">
					<a href="./profile.html" class="default-list__item__link"></a>

			        <div class="companies-item default-list__item__wrapper">
				        <div class="companies-item__name">
                            <a href="./profile.html"></a>
					        <p class="companies-item__text">
						        Продвижение на премиальных площадках
					        </p>
					        <div class="companies-item__name__text_bottom">
						        <p class="companies-item__name_status">
							        Активная
						        </p>
						        <p class="companies-item__name_group">
							        Группа: Весна
						        </p>
					        </div>

				        </div>
				        <div class="companies-item__info">
					        <div class="info__item info__item__budget">
						        <p class="companies-item__text companies-item__text_red">
							        17 900 из 120 000
						        </p>
					        </div>
					        <div class="info__item info__item__show">
						        <p class="companies-item__text">
							        10 036
						        </p>
					        </div>
					        <div class="info__item info__item__click">
						        <p class="companies-item__text">
							        165
						        </p>
					        </div>
					        <div class="info__item info__item__ctr">
						        <p class="companies-item__text">
							        0,47%
						        </p>
						        <div class="delete-btn__wrapper">
							        <a href="#" class="delete-btn"></a>
						        </div>
					        </div>
				        </div>
			        </div>

		        </div>

		        <div class="companies-item default-list__item">
					<a href="./profile.html" class="default-list__item__link"></a>

			        <div class="companies-item default-list__item__wrapper">
				        <div class="companies-item__name">
                            <a href="./profile.html"></a>
					        <p class="companies-item__text">
						        Продвижение на премиальных площадках
					        </p>
					        <div class="companies-item__name__text_bottom">
						        <p class="companies-item__name_status">
							        Активная
						        </p>
						        <p class="companies-item__name_group">
							        Группа: Весна
						        </p>
					        </div>

				        </div>
				        <div class="companies-item__info">
					        <div class="info__item info__item__budget">
						        <p class="companies-item__text companies-item__text_red">
							        17 900 из 120 000
						        </p>
					        </div>
					        <div class="info__item info__item__show">
						        <p class="companies-item__text">
							        10 036
						        </p>
					        </div>
					        <div class="info__item info__item__click">
						        <p class="companies-item__text">
							        165
						        </p>
					        </div>
					        <div class="info__item info__item__ctr">
						        <p class="companies-item__text">
							        0,47%
						        </p>
						        <div class="delete-btn__wrapper">
							        <a href="#" class="delete-btn"></a>
						        </div>
					        </div>
				        </div>
			        </div>

		        </div>

				<div class="companies-item default-list__item">
					<a href="./profile.html" class="default-list__item__link"></a>

					<div class="companies-item default-list__item__wrapper">
						<div class="companies-item__name">
                            <a href="./profile.html"></a>
							<p class="companies-item__text">
								Рекламная кампания в бизнес-сегменте
							</p>
							<div class="companies-item__name__text_bottom">
								<p class="companies-item__name_status">
									Активная
								</p>
							</div>

						</div>
						<div class="companies-item__info">
							<div class="info__item info__item__budget">
								<p class="companies-item__text">
									31 200 из 50 000
								</p>
							</div>
							<div class="info__item info__item__show">
								<p class="companies-item__text">
									9 540
								</p>
							</div>
							<div class="info__item info__item__click">
								<p class="companies-item__text">
									62
								</p>
							</div>
							<div class="info__item info__item__ctr">
								<p class="companies-item__text">
									0,47%
								</p>
								<div class="delete-btn__wrapper">
									<a href="#" class="delete-btn"></a>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="companies-item default-list__item">
					<a href="./profile.html" class="default-list__item__link"></a>

					<div class="companies-item default-list__item__wrapper">
						<div class="companies-item__name">
                            <a href="profile.html"></a>
							<p class="companies-item__text">
								Баннеры на автопорталах
							</p>
							<div class="companies-item__name__text_bottom">
								<p class="companies-item__name_status">
									Активная
								</p>
							</div>

						</div>
						<div class="companies-item__info">
							<div class="info__item info__item__budget">
								<p class="companies-item__text companies-item__text_red">
									199 9090 из 200 000
								</p>
							</div>
							<div class="info__item info__item__show">
								<p class="companies-item__text">
									712
								</p>
							</div>
							<div class="info__item info__item__click">
								<p class="companies-item__text">
									12
								</p>
							</div>
							<div class="info__item info__item__ctr">
								<p class="companies-item__text">
									0,03%
								</p>
								<div class="delete-btn__wrapper">
									<a href="#" class="delete-btn"></a>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="companies-item default-list__item">
					<a href="./profile.html" class="default-list__item__link"></a>

					<div class="companies-item default-list__item__wrapper">
						<div class="companies-item__name">
                            <a href="profile.html"></a>
							<p class="companies-item__text">
								Тестовая кампания по Рязани
							</p>
							<div class="companies-item__name__text_bottom">
								<p class="companies-item__name_status">
									Активная
								</p>
								<p class="companies-item__name_group">
									Группа: Весна
								</p>
							</div>

						</div>
						<div class="companies-item__info">
							<div class="info__item info__item__budget">
								<p class="companies-item__text">
									17 900 из 120 000
								</p>
							</div>
							<div class="info__item info__item__show">
								<p class="companies-item__text">
									10 036
								</p>
							</div>
							<div class="info__item info__item__click">
								<p class="companies-item__text">
									165
								</p>
							</div>
							<div class="info__item info__item__ctr">
								<p class="companies-item__text">
									0,47%
								</p>
								<div class="delete-btn__wrapper">
									<a href="#" class="delete-btn"></a>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="companies-item default-list__item">
					<a href="./profile.html" class="default-list__item__link"></a>

					<div class="companies-item default-list__item__wrapper">
						<div class="companies-item__name">
                            <a href="profile.html"></a>
							<p class="companies-item__text">
								Продвижение на премиальных площадках
							</p>
							<div class="companies-item__name__text_bottom">
								<p class="companies-item__name_status">
									Активная
								</p>
								<p class="companies-item__name_group">
									Группа: Весна
								</p>
							</div>

						</div>
						<div class="companies-item__info">
							<div class="info__item info__item__budget">
								<p class="companies-item__text">
									31 200 из 50 000
								</p>
							</div>
							<div class="info__item info__item__show">
								<p class="companies-item__text">
									9 540
								</p>
							</div>
							<div class="info__item info__item__click">
								<p class="companies-item__text">
									62
								</p>
							</div>
							<div class="info__item info__item__ctr">
								<p class="companies-item__text">
									0,32%
								</p>
								<div class="delete-btn__wrapper">
									<a href="#" class="delete-btn"></a>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="companies-item default-list__item">
					<a href="./profile.html" class="default-list__item__link"></a>

					<div class="companies-item default-list__item__wrapper">
						<div class="companies-item__name">
                            <a href="profile.html"></a>
							<p class="companies-item__text">
								Рекламная кампания в бизнес-сегменте
							</p>
							<div class="companies-item__name__text_bottom">
								<p class="companies-item__name_status">
									Активная
								</p>
							</div>

						</div>
						<div class="companies-item__info">
							<div class="info__item info__item__budget">
								<p class="companies-item__text companies-item__text_red">
									199 9090 из 200 000
								</p>
							</div>
							<div class="info__item info__item__show">
								<p class="companies-item__text">
									712
								</p>
							</div>
							<div class="info__item info__item__click">
								<p class="companies-item__text">
									12
								</p>
							</div>
							<div class="info__item info__item__ctr">
								<p class="companies-item__text">
									0,03%
								</p>
								<div class="delete-btn__wrapper">
									<a href="#" class="delete-btn"></a>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="companies-item default-list__item">
					<a href="./profile.html" class="default-list__item__link"></a>

					<div class="companies-item default-list__item__wrapper">
						<div class="companies-item__name">
                            <a href="profile.html"></a>
							<p class="companies-item__text">
								Баннеры на автопорталах
							</p>
							<div class="companies-item__name__text_bottom">
								<p class="companies-item__name_status">
									Активная
								</p>
							</div>

						</div>
						<div class="companies-item__info">
							<div class="info__item info__item__budget">
								<p class="companies-item__text companies-item__text_red">
									199 9090 из 200 000
								</p>
							</div>
							<div class="info__item info__item__show">
								<p class="companies-item__text">
									712
								</p>
							</div>
							<div class="info__item info__item__click">
								<p class="companies-item__text">
									12
								</p>
							</div>
							<div class="info__item info__item__ctr">
								<p class="companies-item__text">
									0,03%
								</p>
								<div class="delete-btn__wrapper">
									<a href="#" class="delete-btn"></a>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="companies-item default-list__item">
					<a href="./profile.html" class="default-list__item__link"></a>

					<div class="companies-item default-list__item__wrapper">
						<div class="companies-item__name">
                            <a href="profile.html"></a>
							<p class="companies-item__text">
								Рекламная кампания в бизнес-сегменте
							</p>
							<div class="companies-item__name__text_bottom">
								<p class="companies-item__name_status">
									Активная
								</p>
							</div>

						</div>
						<div class="companies-item__info">
							<div class="info__item info__item__budget">
								<p class="companies-item__text companies-item__text_red">
									199 9090 из 200 000
								</p>
							</div>
							<div class="info__item info__item__show">
								<p class="companies-item__text">
									712
								</p>
							</div>
							<div class="info__item info__item__click">
								<p class="companies-item__text">
									12
								</p>
							</div>
							<div class="info__item info__item__ctr">
								<p class="companies-item__text">
									0,03%
								</p>
								<div class="delete-btn__wrapper">
									<a href="#" class="delete-btn"></a>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="companies-item default-list__item">
					<a href="./profile.html" class="default-list__item__link"></a>

					<div class="companies-item default-list__item__wrapper">
						<div class="companies-item__name">
                            <a href="profile.html"></a>
							<p class="companies-item__text">
								Тестовая кампания по Рязани
							</p>
							<div class="companies-item__name__text_bottom">
								<p class="companies-item__name_status">
									Активная
								</p>
								<p class="companies-item__name_group">
									Группа: Весна
								</p>
							</div>

						</div>
						<div class="companies-item__info">
							<div class="info__item info__item__budget">
								<p class="companies-item__text">
									17 900 из 120 000
								</p>
							</div>
							<div class="info__item info__item__show">
								<p class="companies-item__text">
									10 036
								</p>
							</div>
							<div class="info__item info__item__click">
								<p class="companies-item__text">
									165
								</p>
							</div>
							<div class="info__item info__item__ctr">
								<p class="companies-item__text">
									0,47%
								</p>
								<div class="delete-btn__wrapper">
									<a href="#" class="delete-btn"></a>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="companies-item default-list__item">
					<a href="./profile.html" class="default-list__item__link"></a>

					<div class="companies-item default-list__item__wrapper">
						<div class="companies-item__name">
                            <a href="profile.html"></a>
							<p class="companies-item__text">
								Продвижение на премиальных площадках
							</p>
							<div class="companies-item__name__text_bottom">
								<p class="companies-item__name_status">
									Активная
								</p>
								<p class="companies-item__name_group">
									Группа: Весна
								</p>
							</div>

						</div>
						<div class="companies-item__info">
							<div class="info__item info__item__budget">
								<p class="companies-item__text companies-item__text_red">
									17 900 из 120 000
								</p>
							</div>
							<div class="info__item info__item__show">
								<p class="companies-item__text">
									10 036
								</p>
							</div>
							<div class="info__item info__item__click">
								<p class="companies-item__text">
									165
								</p>
							</div>
							<div class="info__item info__item__ctr">
								<p class="companies-item__text">
									0,47%
								</p>
								<div class="delete-btn__wrapper">
									<a href="#" class="delete-btn"></a>
								</div>
							</div>
						</div>
					</div>

				</div>

		        <div class="companies-list__btn__group">
			        <a href="#" class="companies-list__btn active">
				        1
			        </a>
			        <a href="#" class="companies-list__btn">
				        2
			        </a>
		        </div>
                

	        </div>

	        <div class="companies-list default-list" id="tab-completed">
		        <div class="companies-item companies-item__title heading__row">
			        <div class="companies-item__name heading__row__item">
				        <p class="companies-item__text">
					        Название
				        </p>
			        </div>
			        <div class="companies-item__info heading__row__item">
				        <div class="info__item info__item__budget">
					        <p class="companies-item__text">
						        Расход бюджета
					        </p>
					        <span class="info__item__budget__arrow info__item__budget__arrow_up info__item__budget__arrow_down"></span>
				        </div>
				        <div class="info__item info__item__show">
					        <p class="companies-item__text">
						        Показы
					        </p>
				        </div>
				        <div class="info__item info__item__click">
					        <p class="companies-item__text">
						        Клики
					        </p>
				        </div>
				        <div class="info__item info__item__ctr">
					        <p class="companies-item__text">
						        CTR
					        </p>
				        </div>
			        </div>
		        </div>

		        <div class="companies-item default-list__item">
					<a href="#" class="default-list__item__link"></a>

			        <div class="companies-item default-list__item__wrapper">
				        <div class="companies-item__name">
					        <p class="companies-item__text">
						        Продвижение на премиальных площадках
					        </p>
					        <div class="companies-item__name__text_bottom">
						        <p class="companies-item__name_status">
							        Активная
						        </p>
						        <p class="companies-item__name_group">
							        Группа: Весна
						        </p>
					        </div>

				        </div>
				        <div class="companies-item__info">
					        <div class="info__item info__item__budget">
						        <p class="companies-item__text companies-item__text_red">
							        17 900 из 120 000
						        </p>
					        </div>
					        <div class="info__item info__item__show">
						        <p class="companies-item__text">
							        10 036
						        </p>
					        </div>
					        <div class="info__item info__item__click">
						        <p class="companies-item__text">
							        165
						        </p>
					        </div>
					        <div class="info__item info__item__ctr">
						        <p class="companies-item__text">
							        0,47%
						        </p>
						        <div class="delete-btn__wrapper">
							        <a href="#" class="delete-btn"></a>
						        </div>
					        </div>
				        </div>
			        </div>

		        </div>

		        <div class="companies-list__btn__group">
			        <a href="#" class="companies-list__btn active">
				        1
			        </a>
			        <a href="#" class="companies-list__btn">
				        2
			        </a>
		        </div>
	        </div>


			<div class="notifications__block">
				<div class="notifications__block__content">
					<p class="notifications__block__content__report">
						Вы удалили кампанию
					</p>

					<p class="notifications__block__content__campaign-name">
						Тестовая кампания по Рязани
					</p>

					<a href="#" class="btn-cancel">
						отменить
					</a>

				</div>
				<div class="btn-close__wrapper">
					<a href="#" class="btn-close"></a>
				</div>
			</div>
        </main>


        <footer>
            <ul class="footer__list">
                <li class="footer__list__item">
                    <a href="./content-page.html">Помощь</a>
                </li>
                <li class="footer__list__item">
                    <a href="#">Контакты</a>
                </li>
                <li class="footer__list__item">
                    <a href="#">Пользовательское соглашение</a>
                </li>
            </ul>
            <p class="footer__license">
                &copy;AdMedium, 2015—2016
            </p>
        </footer>
    </div>
</div>
<script>
	$(document).ready(function () {
		initTabMenu();

		$(window).on('resize', function () {
			initTabMenu();
		})
	});
</script>
{% endblock %}
