{% extends "src/njc/layout.njc" %}

{% block content %}

<div class="popup__page">
    <div class="popup__wrapper">
        <div class="popup">
            <div class="popup__title">
                <p class="popup__title__name">Поздравляем!</p>

                <a href="#" class="btn-close"></a>
            </div>

            <p class="popup__text">
                Ваша кампания <span class="popup__text_bold">«Продвижение на премиальных
                площадках»</span> создана и отправлена на проверку.
            </p>

            <p class="popup__text">
                Это не займет более 24 часов. О прохождении
                модерации вы получите уведомление.
            </p>

            <div class="main-btn__wrapper">
                <a href="#" class="main-btn">Загрузить материалы</a>
            </div>

            <div class="btn-link__wrapper">
                <a href="#" class="btn-link">+ Создать еще одну кампанию</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}