{% extends "src/njc/layout.njc" %}

{% block content %}
<div class="registration-page">
    <div class="registration-page-content registration">
        <div class="main-logo">
            <a href="./index.html">
                <img src="img/base/main-logo.png">
            </a>
        </div>

        <div class="form-wrapper form-wrapper__registration">
            <p class="form__title">
                Регистрация
            </p>
            <div class="btn-close">

            </div>
            <form>
                <div class="input-group">
                    <input type="text" placeholder="Имя Фамилия" class="input-group__input_top">
                    <input type="text" placeholder="Компания" class="input-group__input_bottom">
                </div>
                <div class="input-group">
                    <input type="text" placeholder="Электронная почта" class="input-group__input_top">
                    <input type="text" placeholder="Номер телефона" class="input-group__input_bottom">
                </div>
                <div class="input-group">
                    <label for="registration-input" class="input-group__label">
                        <input type="password" placeholder="Придумайте пароль" class="registration-input" id="registration-input">
                        <button class="registration-input__btn">

                        </button>
                    </label>
                </div>
                <p class="form__info">
                    Нажимая кнопку «Зарегистрироваться»,
                    вы соглашаетесь с условиями
                    <a href="#" class="form__link-btn">
                        пользовательского соглашения
                    </a>
                </p>
                <a href="./auth.html" class="registration-btn">
                Зарегистрироваться
                </a>
                <!--<button type="submit" class="btn form__btn registration-btn">Зарегистрироваться</button>-->
            </form>
        </div>
    </div>  
</div>
{% endblock %}